.box{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: aquamarine;
    animation: bounce 2s ease-in-out 0s infinite;
}

@keyframes bounce {
    0%{
        transform: scaleY(1);
        top: 0px;
    }
    50%{
        transform: scaleY(0.5);
        top: 300px;
    }
    100%{
        transform: scaleY(1);
        top: 0px;
    }
}