*{
    margin: 0;
    padding: 0;
}

.box{
    width: 250px;
    height: 250px;
    border: 5px solid lawngreen;
    margin: 10px;
    padding: 20px;
}

#box1{
    background-image: linear-gradient(to left,pink,lightblue,lightgreen);
    float: left;
}

#box2{
    background-image: radial-gradient(pink,lightblue,lightgreen);
    float: right;
    clear: left;
}

#box3{
    background-color: aquamarine;
    clear: right;
    float: left;
    box-sizing: border-box;
}
#box4{
    background-color: cadetblue;
    box-sizing: content-box;
    float: right;
    clear: left;
}
#box5{
    background-color: coral;
    float: left;
    clear: right;
}